.profile{
    background-color: yellow;
    width: 300px;
}

.profileImg{
    margin-top: 50px;
    margin-left: 30px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 3px solid rgb(0, 146, 39);
}

button.logout{
    width: 150px;
}